html {
    scroll-snap-type: y mandatory;
}



body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    padding: 0;
}


#home-page, #about-page, #skill-page, #portfolio-page, #contact-page {
    min-height: 100vh;
    background-color: #141416;
    scroll-snap-align: start;
}

/* Home page */

#home-image{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    margin-top: 100px;
    margin-left: 30px;

}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    
    justify-content: center;
    margin: 50px;
}

#heading {
    font-weight: 900;
    font-size: 50px;
}

#paragraphh {
    font-weight: 300;
    font-size: 17px;
}

#about-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    height: fit-content;
    font-weight: 400; 
    color: #9C27B0;
}

a {
    text-decoration: none;
}

#about-link:hover{
    cursor: pointer;
}

.icon {
    font-size: 20px;
}

.right-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}

#side-dots{
    height: 250px;
    width: 800px;
    z-index: 0;
    position: relative;
    top: 40px;
    left: 0;
}


.coding-animation {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    top: 0;
    left: 70px;
}
  
.code-animation {
    width: 20rem;
    height: 20rem;
}
  
.code-animation .lines path {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
}

.code-animation.animating .lines path {
    animation: coding 350ms ease-out forwards;
}

#avatar-img {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
    top: 10px;
    right: 90px; 
}

#purple-romb {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 30%;
    bottom: 40px;   
}

#bottom-decor{
    width: 300px;
    position: absolute;
    left: 0;
    bottom: 0; 
}
  
@keyframes coding {
    to {
      stroke-dashoffset: 0;
    }
}
  
.select-all {
    display: none;
}





/* Nav */

nav {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    height: fit-content;
}

#logo-container {
    display: flex;
    gap: 7px;
    font-weight: 600;
    font-size: 20px;
    z-index: 1;
}

#code-logo {
    width: 30px;
    height: 30px;
    z-index: 1;
    border: white 1px;
    border-radius: 10px;
}

#code-logo img{
    width: 30px;
    height: 30px;
    z-index: 1;
    border: white 1px;
    border-radius: 5px;
}

#contact {
    z-index: 1;
}

#contact button {
    background-color: #141416;
    border-color: white;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    z-index: 1;
}


/* About Page */
#about-image{
    position: absolute;
    height: 100%;
    width: 100%;
}

#purple-romb2 {
    width: 200px;
    height: 150px;
    position: relative;
    left: 50%;
    top: 0px;   
}

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-about {
    z-index: 1;
    display: flex;
    flex-direction: column;
    
}

#about-heading {
    color: white;
    font-size: 70px;
    font-weight: 700;
}

#about-subheading {
    color: #E4E4E4;
    font-size: 20px;
    font-weight: 300;
}

.right-about {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right-about p {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

#cv-download {
    background-color: #9C27B0;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9C27B0;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    font-size: 17px;
}




/* Skill page */
#skill-page img{
    position: absolute;
    height: 100%;
    width: 100%;
}

#portfolio-page img{
    position: absolute;
    height: 100%;
    width: 100%;
}

#contact-page img{
    position: absolute;
    height: 100%;
    width: 100%;
}



/* Media Queries */


@media only screen and (max-width: 1200px) {
    .right-container {
        top: auto;
        left: auto;
        height: auto;
    }
    
    #side-dots {
        width: 500px;
    }

    .coding-animation {
        width: 125px; /* Adjust dimensions for smaller screens */
        height: 125px;
        left: 20px; /* Center horizontally */
        top: 30px; /* Adjust vertical position */
    }

    #avatar-img {
        width: 250px; /* Adjust dimensions for smaller screens */
        height: 250px;
        top: 40px; /* Adjust vertical position */
        right: 20px; /* Center horizontally */
    }

    /* About */
    .main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #purple-romb2 {
        width: 150px;
        height: 100px;
           
    }
}

@media only screen and (max-width: 900px) {
    #side-dots {
        width: 400px;
    }

    #avatar-img {
        width: 250px; /* Adjust dimensions for smaller screens */
        height: 250px;
        top: 60px; /* Adjust vertical position */
        right: 10px; /* Center horizontally */
    }

    .left-container {
        margin: 5px;
        gap: 5px;
    }

    #purple-romb {
        width: 200px;
        height: 150px;
        position: absolute;
        left: 45%;
        bottom: 20px;   
    }
}

@media only screen and (max-width: 700px) {

    #side-dots {
        width: 100%;
        height: 200px;
    }
    
    .coding-animation {
        width: 125px; /* Adjust dimensions for smaller screens */
        height: 125px;
        left: 60px; /* Center horizontally */
        top: 50px; /* Adjust vertical position */
    }

    #avatar-img {
        width: 250px; /* Adjust dimensions for smaller screens */
        height: 250px;
        top: 30px; /* Adjust vertical position */
        right: 40px; /* Center horizontally */
    }

    .hero-container {
        flex-direction: column;
        margin-top: 10px;
    }

    .left-container {
        margin: 5px;
    }

    #purple-romb {
        display:none;  
    }

    #bottom-decor{
        width: 200px;
        position: absolute;
        left: 0;
        bottom: 0; 
    }

    /* About  */

    #about-heading {
        font-size: 60px;
    }
    
    #about-subheading {
        font-size: 18px;
    }
    
    .right-about p {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 450px) {
    #heading {
        font-size: 40px;
    }

    .hero-container {
        margin-top: 50px;
        flex-direction: column;
    }

    .left-container {
        margin: 5px;
        gap: 7px;
    }

    #paragraphh {
        font-size: 20px;
    }

    #about-link {
        gap: 2px;
        font-size: 6px;
    }

    .icon {
        font-size: 14px;
    }

    .right-container {
        top: auto;
        left: auto;
        height: 400px;
        margin-top: 20px;
    }

    #side-dots {
        width: 100%; /* Adjust dimensions for smaller screens */
        height: 150px;
        top: 20px; /* Adjust vertical position */
    }

    .coding-animation {
        width: 125px; /* Adjust dimensions for smaller screens */
        height: 125px;
        left: 20px; /* Center horizontally */
        top: 30px; /* Adjust vertical position */
    }

    #avatar-img {
        width: 250px; /* Adjust dimensions for smaller screens */
        height: 250px;
        top: 0px; /* Adjust vertical position */
        right: 0px; /* Center horizontally */
    }

    h4 {
        font-size: 20px;
    }

    
    #bottom-decor{
        width: 200px;
        position: absolute;
        left: 0;
        bottom: 0; 
    }

    #purple-romb {
        display: block;  
    }

    /* About */
    #about-heading {
        font-size: 55px;
    }
    
    #about-subheading {
        font-size: 18px;
    }
    
    .right-about {
        margin: 10px;
        gap: 10px;
    }
    
    .right-about p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 376px) {
    #heading {
        font-size: 35px;
    }

    .hero-container {
        margin-top: 30px;
        flex-direction: column;
    }

    .left-container {
        margin: 5px;
        gap: 2px;
    }

    #paragraphh {
        font-size: 15px;
    }

    #about-link {
        gap: 2px;
        font-size: 6px;
    }

    .icon {
        font-size: 14px;
    }

    .right-container {
        top: auto;
        left: auto;
        height: auto;
    }

    #side-dots {
        width: 100%; /* Adjust dimensions for smaller screens */
        height: 100px;
        top: 20px; /* Adjust vertical position */
    }

    .coding-animation {
        width: 100px; /* Adjust dimensions for smaller screens */
        height: 100px;
        left: 20px; /* Center horizontally */
        top: 30px; /* Adjust vertical position */
    }

    #avatar-img {
        width: 225px; /* Adjust dimensions for smaller screens */
        height: 225px;
        top: 20px; /* Adjust vertical position */
        right: 20px; /* Center horizontally */
    }

    h4 {
        font-size: 20px;
    }

    
    #bottom-decor{
        width: 200px;
        position: absolute;
        left: 0;
        bottom: 0; 
    }

    #purple-romb {
        display: none;  
    }

    /* About */
    
    #purple-romb2 {
        display: none;  
    }
    
    
    .left-about {
        align-items: center;
        justify-content: center;
    }
    
    #about-heading {
        font-size: 40px;
    }
    
    #about-subheading {
        font-size: 17px;
    }
    
    .right-about {
        gap: 0px;

    }
    
    .right-about p {
        font-size: 16px;
    }
    
   
   
}